form {
  margin-bottom:250px;}

  .field {
    margin-bottom: 30px;
  }
  a{
    color: #fafafa;
  }
  

  #homepage{
    position: relative;
    background-color:white;

    img{
      position: relative;
    }

    .custom-shape-divider-bottom-1630925008 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1630925008 svg {
      position: relative;
      display: block;
      width: calc(131% + 1.3px);
      height: 377px;
  }
  
  .custom-shape-divider-bottom-1630925008 .shape-fill {
      fill: #637077;
  }
#signUp{
    color: green;
    opacity: 0.5;

  hover{
    opacity: 1.0;
  }



}
  }
  #register{
    background-color: #E1DDD1;

    .label{
      color:#637077;
    }
    .button{
      background-color: #BB7C4C;
      color: white;
    }
   
    
    position: relative;
    overflow: none;
    .custom-shape-divider-top-1631537842 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .custom-shape-divider-top-1631537842 svg {
      position: relative;
      display: block;
      width: calc(166% + 1.3px);
      height: 481px;
  }
  
  .custom-shape-divider-top-1631537842 .shape-fill {
      fill: white;
  }
 



  }
